<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kumqwaat | Quizzes</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav class="toolbar">
            <ul>
                <li><img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=114,fit=crop,q=95/AwvDkJRr2qiBJXW0/paintedsmall-Yanq9zZr9oFO059Q.png" alt="" width="50" height="50"></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="studyguides.html">Study Guides</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="team.html">Our team</a></li>
            </ul>
        </nav>
    </header>
    </header>
    <br><br><br><br><br><br>
    <div class="container" style="text-align: center; color: white;">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=89,h=84,fit=crop/AwvDkJRr2qiBJXW0/2025image-A85E4ppMy0hMZNQO.png" alt="" >
        <h3>2025: Reigniting the Future</h3>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfZ54oR1d2GlhTBtYDX_DVNERHiW8c71Stouh6M2pBJe9d4Fg/viewform">Quiz #1</a><br><br>
        <!-- <p>COMING SOON</p-->
        <h3>The Best is Yet To Be, or Not To Be?</h3>
        <h3>In Futurity, Someone Prophetic Sees</h3>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe3Q9SPlq-dBfi9pMxnaGKvB1AW_Jps-1ULf1LB7xIZSWfDYw/closedform">Quiz #2</a>
    </div>
    <footer>
        <p>Contact us at instagram using <a href="https://www.instagram.com/50th_scholars/">this</a> link</p>
    </footer>
</body>
</html>