<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kumqwaat | Study Guides</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav class="toolbar">
            <ul>
                <li><img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=114,fit=crop,q=95/AwvDkJRr2qiBJXW0/paintedsmall-Yanq9zZr9oFO059Q.png" alt="" width="50" height="50"></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="studyguides.html">Study Guides</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="team.html">Our team</a></li>
            </ul>

        </nav>
    </header>
    <br><br><br><br><br>
    
    <div class="container" style="text-align: center; color: white;">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=89,h=84,fit=crop/AwvDkJRr2qiBJXW0/2025image-A85E4ppMy0hMZNQO.png" alt="" >
        <h3>2025: Reigniting the Future</h3>
        <a href="https://docs.google.com/document/d/1k85gila5yN2PTlI67FKvedryhriByirzNgpUq4344hY/edit?tab=t.0">Summary</a><br><br>
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=89,h=84,fit=crop/AwvDkJRr2qiBJXW0/2024image-dOq84blPwjTy3KL9.png" alt="">
        <h3>2024: Reimagining the Present</h3>
        <a href="https://docs.google.com/document/d/1eUO6LS_qINDMocAI6GPOzslTfByYF9_hLNia8AdKT3M/edit?tab=t.0#heading=h.zc5lo7hxx">Summary</a>
    </div>
    
    <footer>
        <p>Contact us at instagram using <a href="https://www.instagram.com/50th_scholars/">this</a> link</p>
    </footer>
</body>
</html>