<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kumqwaat | Our Team</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav class="toolbar">
            <ul>
                <li><img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=114,fit=crop,q=95/AwvDkJRr2qiBJXW0/paintedsmall-Yanq9zZr9oFO059Q.png" alt="" width="50" height="50"></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="studyguides.html">Study Guides</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="team.html">Our team</a></li>
            </ul>
        </nav>
    </header>
    <br>    
    <div class="container" style="background-color: #b91705d8;">
        <h1>Our team</h1>
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=114,fit=crop,q=95/AwvDkJRr2qiBJXW0/paintedsmall-Yanq9zZr9oFO059Q.png" alt="" width="50" height="50">
        <h1>Güney</h1>
        <h2>Güney joined the program in 2018, during the peak of the Havana craze. He's since been to 5-ish regional rounds, 2 globals, and one ToC. </h2>
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=114,fit=crop,q=95/AwvDkJRr2qiBJXW0/paintedsmall-Yanq9zZr9oFO059Q.png" alt="" width="50" height="50">
        <h1>Tuğçe</h1>
        <h2>Tuğçe has a name where one of the letters isn't supported by our font. She also found the name "kumqwaat".</h2>
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=114,fit=crop,q=95/AwvDkJRr2qiBJXW0/paintedsmall-Yanq9zZr9oFO059Q.png" alt="" width="50" height="50">
        <h1>Deniz</h1>
        <h2>Deniz is quite new on the program. He designed the website</h2>

    </div>
    <footer>
        <p>Contact us at instagram using <a href="https://www.instagram.com/50th_scholars/">this</a> link</p>
    </footer>
</body>
</html>